@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './prism.css';
@import 'tailwindcss/utilities';


body {
    font-family: 'Lexend', sans-serif;
  }
  @keyframes wave {
    0%, 60%, 100% { transform: rotate(0); }
    10%, 30%, 50% { transform: rotate(14deg); }
    20%, 40% { transform: rotate(-8deg); }
  }
  .animate-wave {
    animation: wave 2.5s infinite;
  }
  .custom-text {
    font-size: 4xl; 
    background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 12px 12px 55px rgb(188, 12, 241);
    font-family: 'Red Rose', sans-serif; 
    font-weight: bold; 
  }
  